* {
    font-family: Poppins, sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --blue: #39289F;
    --white: #ffffff;
}

body {
    width: 100%;

    background: linear-gradient(176.32deg, #2211E7 -26.24%, #383837 96.98%);
}

.navbar ul {
    justify-content: space-between;
    gap: 37px;
    text-decoration: none;
    font-size: 16px;
    list-style-type: none;
}

header { 

    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    height: max-content;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 63.23px;
    padding-top: 40px;
    display: flex;
    font-family: "Poppins", sans-serif;
}

header .navbar ul {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
}

.navbar ul :nth-child(5) {
    background-color: #E87D0E;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 13px;

}



.inputBox {
    display: flex;
    margin: 0 auto;
    display: flex;
    width: 1170px;
    background-color: #1C140F;
    height: 189px;
    border-radius: 15px;
    padding-left: 55px;
    padding-right: 50px;
}

.inputBoxText{
    width: 516px;
}

.inputBoxText{
    display: flex;
    flex-direction: column;
    margin:auto 0;
}

.inputBoxText p {font-size: 17px;}

.inputBoxText h1{
    font-size: 30px;
    font-weight: medium;
    margin-bottom:10px ;
}

.input {
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 385.68px;
    height: 48px;
    padding-left: 20.55px;
    padding-right: 6.24px;
    background-color: var(--white);
}

.input input {
    color:black;
    border: none;
    height: 100%;
    width: 70%;
    outline: none;
}

.input{

color: #000;
    display: flex;
    margin:auto;
    margin-right: 0;
}

footer{ 
   display: flex;
   flex-direction: column;
   margin: 0 auto;
    background-color: #070707;
}

.footerText{
    display: flex;
    margin-top: 79px;
    margin-bottom: 53px;
    display: flex;
    margin: 0 auto;
    padding: 65px;
}

.textWrapper1{
    width: 372px;
    margin-left: 100px;
    margin-right: 78px;
}

.textWrapper1 p{
    margin-top:15px ;
    margin-bottom:25px ;
}

.textWrapper2 h1{
    font-weight: medium;
    margin-bottom:15px;
    font-size: 17px;
}

.textWrapper2{
    width: 88px;
    margin-right: 144px;
}

.textWrapper3{
    width: 282px;
    margin-right:83px;
}

.textWrapper3 h1{
    font-weight: medium;
    font-size: 17px;
}

.textWrapper3 p:nth-child(2){
    margin-top: 30px; 
    margin-bottom: 11px;
}

.socialWrapper{
    display: flex;
    margin-top: 130px;
}

.copyright {
    width: 100%;
    text-align: center;
    border-top: solid 1px wheat;
    padding-block: 30px;
}

.section1{

    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 186px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.section1 p span{
    color:#E47500;
}

.section1Text p {
    margin-bottom: 15px;
}

.section1 h1{
    font-size: 33px;
    line-height: 180.5%;
    font-weight: semibold;
}

.section1 h2{
    font-weight: medium;
    font-size: 16px;
    margin-top: 13px;
}

.section1 .worldMap{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 62px ;
}

.section1Text{
    margin-bottom: 93px;
}

.social{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.social p{
    display: flex;
    margin-bottom: 16px;
}

.contactWrapper{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 100px;
}



.phone{
    justify-content: space-between;
    gap: 25px;
    display: flex;
    align-items: center;
    padding-inline: 100px;
    border-inline:solid 1px var(--white) ;

}

.phone img{
width: 30px;
height: 30px;
}

.location{
    justify-content: space-between;
    gap: 25px;
    display: flex;
    align-items: center;

}

.inputSection{
    margin-top:150px ;
    
}

.formSection .formText{
    margin: 0 auto;
    display: flex;
    margin-top:58px ;
    flex-direction: column;
    text-align: center;
}

.formSection{
    width: 100%;
    margin-top: 147px;
    background-color: #1C140F;
    height: 858px;
}

form{
    margin: 0 auto;
    width: 671px;
}

form label {
    color:#4F4F4F;
    font-size: 14px;
    font-weight: medium;
}

form input, textarea{
    outline: none;
    padding: 5px;
    border: 0.06px solid #CECECE;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.07) ;
}

form input{
    height: 56px;
    padding: 5px;
}

.formText h1{
    font-size: 30px;
    font-weight: 500;
}
form{
    margin-top:79px;
}

.formText p{
    font-size: 13px;
    font-weight: medium;
}
.nameForms{
    display: flex;
    margin-bottom: 20px;
    gap: 27px;
}

.nameForms input{
    width:322px;
}

.nameForms .inputwrapper {
    display: flex;   
    flex-direction: column;
}

.emailForm .inputwrapper{
    display: flex;
    flex-direction: column;
}

.emailForm{
    margin-bottom: 20px;
}

.textareaForm .inputwrapper{
    display: flex;
    flex-direction: column;
}

.textareaForm textarea{
    height:232px ;
}

form button{
    cursor: pointer;
    background-color: #E47500;
    height: 57px;
    display: flex;
    margin-left: 478px;
    margin-top: 50px;
    width: 193px;
    line-height: 204.4%;
    border: none;
    border-radius:10px ;
    justify-content: center;
    align-items: center;
}
    
.formSection{
    background-image: url('./assets/lineTOP.svg'), url('./assets/lineBOTTOM.svg');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
}

.inputSection{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: min-content;
    margin-block:150px ;
}

.TEXT{
    display: flex;
    flex-direction: column;
    margin-bottom: 74px;
}

.TEXT h1{
    margin-bottom:32px ;
    font-size: 30px;
}

.TEXT p{
    width: 545px;
}
.input button{
    width:105px;
    cursor: pointer;
    font-size: 13px;
    border-radius:8px;
    border: none;
    background-color: #DC7000;
    height: 37px;
}

.navbar li a:hover {
    color: #949494;
}

.input button:hover {
    background-color: #4d6089;
}

.navbar ul :nth-child(5):hover {
    background-color: #4d6089;
}

.seeAll:hover {
    background-color: #4d6089;
}

.container1 button:hover {
    background-color: #4d6089;
}

.textWrapper2 p a {
    text-decoration: none;
}

.textWrapper2 p a:hover{
    color:#949494;
}

form button:hover{
    background-color: #4d6089;
}

